{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1 class="text-center">Les meilleurs fauteuils du monde sur cette page</h1>

    <div class="row">
        {% for p in produits %}
            <div class="col-2">
            <div class="card h-100" style="width: 18rem;">
                <a href="{{ path('produit_show', {'id': p.id}) }}"><img class="card-img-top" src="{{ asset('')~p.image }}" alt="Card image cap"></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ p.libelle }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ p.tarif }}€</h6>
                    <p class="card-text">{{ p.description }}</p>

                    <a href="{{ path('produit_show', {'id': p.id}) }}" class="mt-auto btn btn-primary ">Voir le produit</a>
                    {%  if (app.user.email) is defined and app.user.email == 'admin@admin.com' %}
                    <a href="{{ path('produit_edit', {'id': p.id}) }}" class="btn btn-warning">Edit</a>
                    {% endif %}

                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {%  if (app.user.email) is defined and app.user.email == 'admin@admin.com' %}
    <a href="{{ path('produit_new') }}">Create new</a>
    {% endif %}
{% endblock %}
